<?php $base = $this->basePath(); ?>
<!DOCTYPE html>
<html>
<head>
    <title>Swagger UI</title>
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'/>
    <link href='<?php echo $base ?>/zf-apigility-documentation-swagger/css/highlight.default.css' media='screen' rel='stylesheet' type='text/css'/>
    <link href='<?php echo $base ?>/zf-apigility-documentation-swagger/css/screen.css' media='screen' rel='stylesheet' type='text/css'/>
    <link href='<?php echo $base ?>/zf-apigility-documentation-swagger/css/custom.css' media='screen' rel='stylesheet' type='text/css'/>
</head>
<body>

    <div id='header'>
        <div class="swagger-ui-wrap">
            <a id="logo" href="#">swagger</a>
        </div>
    </div>

    <div id="swagger-ui-container" class="swagger-ui-wrap">
        <h2>Swagger API Documentation</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>API</th>
                    <th>Versions</th>
                </tr>
            </thead>
            <tbody><?php foreach ($this->apis as $api):
                $name = $api['name']; ?>
                <tr>
                    <td><?php echo $this->escapeHtml($name) ?></td>
                    <td><?php
                        $view     = $this;
                        $versions = array_map(function ($version) use ($name, $view) {
                            return sprintf(
                                '<a href="%s">v%s</a>',
                                $view->url('zf-apigility/swagger/api', array(
                                    'api' => sprintf('%s-v%s', $name, $version),
                                )),
                                $view->escapeHtml($version)
                            );
                        }, $api['versions']);
                        echo implode('&nbsp;|&nbsp;', $versions);
                    ?></td>
                </tr>
            <?php endforeach; ?></tbody>
        </table>
    </div>
</body>